body {
    margin: 2vh 3vh;
}

.title {
    font-size: 3vh;
}

p {
    margin: 3vh 0 1vh 0;
    font-weight: bold;
    font-size: 3.5vh;
}

#enemy_heroes, #recommended_heroes {
    font-size: 3vh;
}

#enemy_heroes {
    margin: 2vh 0;
}
